---
import logo from "@images/logo.jpg"
import LevelIndicator from '@components/LevelIndicator.astro'

interface Props {
  pageTitle: string
}

const { pageTitle } = Astro.props

const pathName = Astro.url.pathname

function getPath(){
  if(pathName === "/"){
    return "Bienvenida"
  }

  return pathName
}

---

<header class="bg-uaslp h-20 p-2 flex flex-col md:flex-row md:items-center">
  
  <div class="flex items-center h-17 m-0">
    <img src={logo.src} alt="UASLP Facultad de Medicina logo" class="h-full">

    <h1 class="text-slate-100 font-bold text-sm ml-3">{pageTitle}</h1>

  </div>
  
  <LevelIndicator levels={["D1", "D2"]}/>
 </header>

<h2 class="text-center text-xl mt-15 font-bold">{getPath()}</h2>

