---
import logo from "@images/logo.jpg"
import Nav from "./Nav.astro"

interface Props {
  pageTitle: string
}

const pathName = Astro.url.pathname

function getPath(){
  if(pathName === "/"){
    return "Bienvenida"
  }

  return pathName
}

---

<Nav/>
<h1 class="text-2xl font-bold text-center">{getPath()}</h1>
