---
interface Props {
  levels: string[]
}

const current = 1
const { levels } = Astro.props
---

<div class="text-center border-uaslp border shadow-2xs w-4/5
rounded-md self-center my-3 md:bg-slate-100 mx-10 md:w-2/5">
<em>Level {current}/{levels.length}: {levels[current-1]}</em>
</div>