---
import logo from '@images/logo.jpg'
import { Image } from 'astro:assets'
---

<div class="max-lg:collapse bg-primary text-primary-content lg:mb-48 shadow-sm w-full rounded-md">
  <input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
  <label for="navbar-1-toggle" class="fixed inset-0 hidden max-lg:peer-checked:block"></label>
  <div class="collapse-title navbar">
    <div class="navbar-start flex-1 flex items-center gap-2 lg:gap-3">
      <label for="navbar-1-toggle" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <Image src={logo} alt="UASLP Logo" class="h-8 lg:h-10 w-auto"/>
      <h1 class="text-lg lg:text-xl whitespace-nowrap flex-1">Tractos de salida</h1>
    </div>
    <div class="navbar-center hidden lg:flex pr-8">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Bienvenida</a></li>
        <li>
          <details>
            <summary>Médula oblongada</summary>
            <ul class="p-2 bg-primary w-40 z-1">
              <li><a href="/levels/decusacion_piramides">Decusación de las pirámides</a></li>
              <li><a href="/levels/decusacion_lemniscos">Decusación de los lemniscos</a></li>
              <li><a href="/levels/nucleos_olivares">Núcleos olivares</a></li>
              <li><a href="/levels/debajo_puente">Por debajo del puente</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Puente</summary>
            <ul class="p-2 bg-primary w-40 z-1">
              <li><a href="/levels/coliculo_facial">Colículo facial</a></li>
              <li><a href="/levels/nucleos_trigemino">Núcleos del trigemino</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Mesencéfalo</summary>
            <ul class="p-2 bg-primary w-40 z-1">
              <li><a href="/levels/coliculos_inferiores">Colículo inferior</a></li>
              <li><a href="/levels/coliculos_superiores">Colículo superior</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <div class="collapse-content lg:hidden z-1">
    <ul class="menu">
      <li><a href="/">Bienvenida</a></li>
      <li>
        <button>Médula oblongada</button>
        <ul>
          <li><a href="/levels/decusacion_piramides">Decusación de las pirámides</a></li>
          <li><a href="/levels/decusacion_lemniscos">Decusación de los lemniscos</a></li>
          <li><a href="/levels/nucleos_olivares">Núcleos olivares</a></li>
          <li><a href="/levels/debajo_puente">Por debajo del puente</a></li>
        </ul>
      </li>
      <li>
        <button>Puente</button>
        <ul>
          <li><a href="/levels/coliculo_facial">Colículo facial</a></li>
          <li><a href="/levels/nucleos_trigemino">Núcleos del trigémino</a></li>
        </ul>
      </li>
      <li>
        <button>Mesencefalo</button>
        <ul>
          <li><a href="/levels/coliculos_inferiores">Colículo inferior</a></li>
          <li><a href="/levels/coliculos_superiores">Colículo superior</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>